<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todaylunch.testproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FlyweightActivity"></activity>
        <activity android:name=".ProxyActivity" />
        <activity android:name=".FacadeActivity" />
        <activity android:name=".DecoratorActivity" />
        <activity android:name=".CompositeActivity" />
        <activity android:name=".BridgeActivity" />
        <activity android:name=".AdapterActivity" />
        <activity android:name=".TempleteMethodActivity" />
        <activity android:name=".VisitorActivity" />
        <activity android:name=".StateActivity" />
        <activity android:name=".MementoActivity" />
        <activity android:name=".MediatorActivity" />
        <activity android:name=".IteratorActivity" />
        <activity android:name=".CommandActivity" />
        <activity android:name=".ChainOfResponsibilityActivity" />
        <activity android:name=".PrototypeActivity" />
        <activity android:name=".BuilderActivity" />
        <activity android:name=".AbstractFactoryActivity" />
        <activity android:name=".ObserverActivity" />
        <activity android:name=".FactoryActivity" />
        <activity android:name=".Singleton" />
        <activity android:name=".StrategyPattern" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>